.note_editor__wrapper{
 grid-area: content;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}
 .notesList__wrapper{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
 }
