.App{
  display: grid;
  grid-template-areas:
  "headerGridBlock" 
   "rightGridBlock";

  grid-template-columns: 1fr ;
  grid-template-rows: 56px 1fr;
  height: 100vh;
  }

.headerGridBlock{
  grid-area: "headerGridBlock";
}

.rightGridBlock{

  height: 100%;
  width: 100%;
}