.btn_back_wrapper{
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5vw;
}
.btn_back{
    position: relative;
    z-index: 1000;
    padding: 5px;
    border-radius: 5px;
}